extends ../layouts/common.pug

block content
    h1 Create user

    if errors
        each error in errors
            .alert.alert-danger= error


    form(acton="product/create", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name", type="text", value = values ? 
            values.name : '')

            label(for="image") Image
            input#phone.form-control(name="phone", type="text", value = values ? 
            values.phone : '')

            abel(for="descritption") Descritption
            input#phone.form-control(name="phone", type="text", value = values ? 
            values.phone : '')
            
        button(type="submit") Create