extends ../layouts/common.pug

block content
    h1 Products

    a.btn.btn.primay(href='/product/create') New

    d-flex.align-items-center
            form.ml-auto(action="/product/search", method="GET", class="d-flex")
                input(type="text", name="q", class="form-control")
                button(class="btn btn-primary ml-2") Search
            


    .row
        each product in products
            .col-sm-6.col-md-4.col-lg-3 
                .card.md-3  
                    img.card-img-top(src=product.image)
                    .card-body
                        h5.cart-title= product.name
                        p.card-text= product.description 
                        a.btn.btn-primary(href='/cart/add'+ product.id) Add to cart

            