extends ../layouts/common.pug

block content
    h1 Create user

    if errors
        each error in errors
            .alert.alert-danger= error


    form(acton="users/create", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name", type="text", value = values ? 
            values.name : '')

            label(for="phone") Phone
            input#phone.form-control(name="phone", type="text", value = values ? 
            values.phone : '')

            label(for="avatar") Avatar
            input#avatar.form-control-file(name="avatar", type="file")
            
        button(type="submit") Create